.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-selector {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.page-selector-btn {
  top: 0;
  right: 0;
  display: inline-block;
  padding: 10px 10px;
  border: none;
  background-color: yellowgreen;

  box-shadow: 0 0 6px;
}

.page-selector-btn:hover {
  bottom: 3px;
  right: 3px;
  box-shadow: 0 0 3px;
}

.explanation {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 85%;
}

.App-link {
  color: #61dafb;
}

.frame {
  background-color: beige;
}

.square-root {
  white-space: nowrap;
}

.square-root-number{
  text-decoration: overline;
  text-decoration-thickness: 1px;
}

#number-grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  max-width: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#number-grid-container > div {
  background-color: white;
  text-align: center;
  font-size: 18px;
  border: 1px solid black;
}

#number-grid-container > div.initial-background {
  background-color: white;
}

#number-grid-container > div.blue-background {
  background-color: lightblue;
}

#number-grid-container > div.yellow-background {
  background-color: yellow;
}

#number-grid-container > div.green-background {
  background-color: lightgreen;
}

#number-grid-container > div.black-background {
  background-color: black;
}

#number-grid-container > div:hover {
  background-color: yellowgreen;
}